/* Aspectos generales CSS en la Pagina Web */
*{
    padding: 0;
    margin: 0;
    box-sizing : border-box ;
    }
a:link, a:visited, a:active {
        text-decoration:none;
    }

html{
    font-size : 62.5%
}
body{
    background-image:url(../img/Fondo\ huellitas.jpg);
}
h2{
    font-family: 'Rubik', sans-serif;
}
p{
    font-family: 'Sansita Swashed', cursive;
}
figcaption{
    margin: 1.2rem 0rem 0rem 0rem;
    padding-left: 00.5rem;
    padding-bottom: 0.2rem;
    font-size: 1.3rem;
    font-family: 'Roboto Condensed', sans-serif;
}
.main__section-Title{
    margin:1rem 4.5rem 1rem 4.5rem;
    padding: 3rem;
    width: 125rem;
    height: 10rem;
    background-color: peachpuff;
    color: palevioletred;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 5rem;
}
.main__section{
    margin: 4.5rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 3rem;
    width: 125rem;
    height: 60rem;
    display: inline-flex;
    background-color: rgb(144, 224, 248);
}

/* Inicio seccion header */
.header__section-first{
    display: inline-flex;
    width: 39%;
    height: 15rem;
    margin: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    font-family: 'Rubik', sans-serif;
    background-image: url(../img/Fondo\ huellitas\ gatitos.jpg);
}
.header__section-second{
    display: inline-flex;
    width: 59%;
    height: 15rem;
    align-items: center;
    justify-content: center;

}
.header__section-first--h1{
    font-size: 4.5rem;
    color: palevioletred;
}
.header__section-first--h1:hover{
    font-size: 5rem;
    color:rgb(247, 99, 202);
    transition: 0.7s;
}
.header__section__nav--a{
    padding: 3rem 4.5rem;
    margin:0.2rem;
    background-color: snow;
    border-radius: 10%;
    color: dimgrey;
    font-size: 2.5rem;
    font-family: 'Rubik', sans-serif;
}
.header__section__nav--a:hover{
    
    color:  palevioletred;
    transition: 0.5s;
    border: 0.4rem dashed black ;
}
.header__section__figure{
    width: 100%;
    height: 80%;
    object-fit: cover;
    background-image:url(../img/Banner\ perritos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
.header__section__figure--img{
    opacity: 1;
    width: 100%;
    height: 100%;
}
.header__section__figure--img:hover{
    opacity: 0;
    transition: 0.8s;
}

/* Fin Css Seccion Header */

/* Inicio Seccion Services */

.main__section-services__article{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.main__section-services__article__aside{
    margin: 1.5rem;
    width: 30%;
    height: 45rem;
    border: 0.8rem solid mistyrose; 
    box-shadow: 5px -5px 0 2px lightcyan;
}

.main__section-services__article__figure{
    overflow:hidden;
    padding-bottom: 0.5rem;

}
.main__section-services__article--img{
    margin-top: 2rem;
    margin-left: 4.2rem;
    margin-bottom: 0.5rem;
    height: 16rem;
    width: 25rem;
    object-fit: cover;
    border:0.5rem groove blanchedalmond;
}
.main__section-services__article--img:hover{
    border-radius: 50%;
    border: 0.5rem solid  blanchedalmond;
    filter: saturate(180%);
    -webkit-transform:scale(1.14);transform:scale(1.14);
    transition: 0.8s;
}
.main__section-services__article__aside__section--h2{
    margin: 0.5rem;
    font-size: 2rem;
}

.main__section-services__article__aside__section--p{
    margin: 0.5rem;
    font-size: 1.5rem;
}
/* Fin Css Seccion Services */

/* inicio Css Seccion News */
/* main-section codificado para la seccion news */
.main__section-modified-news{
    margin: 4.5rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 3rem;
    width: 125rem;
    height: 95rem;
    background-color: rgb(144, 224, 248);
}
/*  */
.main__section-news__article__section{
    width: 45rem;
    height: 35rem;
    margin: 0rem;
    display: inline-table;
}

.main__section-news__article{
    width: 50rem;
    height: 40rem;
    text-align: justify;
    margin:0rem 4.5rem 2rem 4.5rem;
    display: inline-table;
}
.main__section-news__article:hover{
    background-color: snow;
    box-shadow: 5px -5px 0 2px  blanchedalmond;
    transition: 0.5s;
}
.main__section-news__article__section--p{
    font-size: 1.5rem;
}
.main__section-news__article__section__figure{
    width: 25rem;
    height: 19rem;
    float: left;
    margin-right: 0.9rem;

}
.main__section-news__article__section__figure--img{
    margin: 0.3rem;
    height: 16rem;
    width: 25rem;
    object-fit: cover;
}
.main__section-news__article__section__section-link{
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    padding:1rem;
}
.main__section-news__article__section__section-link--a{
    color: salmon;
}
.main__section-news__article__section__section-link--a:hover{
    color:rgb(247, 99, 202);
}
/* Fin Css Seccion News */

/* Inicio Css Seccion Team */

.main__section__article{
    margin: 0.5rem;
    width: 25%;
    height: 50rem;
    border: 0.8rem solid mistyrose; 
    box-shadow: 5px -5px 0 2px lightcyan;
}

.main__section__article--img{

    margin-top: 2rem;
    margin-left: 4.2rem;
    margin-bottom: 0.5rem;
    height: 18rem;
    width: 18rem;
    object-fit: cover;
    border:0.5rem groove blanchedalmond;
}

.main__section__article--h2{
    margin: 1rem;
    font-size: 2rem;
}

.main__section__article--p{
    margin: 0.5rem;
    font-size: 1.5rem;
}

.main__section__article--img:hover{
    filter: sepia(30%);
    -webkit-transform:scale(1.14);transform:scale(1.14);
    transition: 0.8s;
}
.main__section__article__figure{
    overflow:hidden;
}
/* Fin Css Seccion Team */

/* Inicio Css Seccion Footer */

.footer{
    margin: 4.5rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    width: 125rem;
    height: auto;
    background-color: snow;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.footer__section-contacs__ul{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 90rem;
}
.footer__section-contacs__ul--ul{
    width: 22rem;
    list-style:none;
    text-align: justify;
    margin: 1rem 0rem 0rem 1rem;
}
li{
    padding: 0.3rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1rem;
}
.footer__section-contacs__ul--ul--i-name{
    font-family: 'Rubik', sans-serif;
    font-size: 1.2rem;
}
.footer__section-description{
    margin:0.5rem 2rem 1rem 0rem
}
.footer__section--p{
    font-size: 1.2rem;
    text-align: justify;
    padding: 1rem;
}
.footer__section__section-link--a{
    font-size: 1.5rem;
    color: salmon;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 1rem;
}
.footer__section__section-link--a:hover{
    color:rgb(247, 99, 202);
}